API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXX
API_PASSWORD=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
SHOPIFY_DOMAIN=XXXXX-XXXXXXXX.myshopify.com
WISHLIST_NAMESPACE=shopify_wishlist_app
WISHLIST_KEY=wishlist
ALLOWED_ORIGINS=https://shopify.dev,https://any-other-origin.org